body {
  background: #fff;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}

.navbar {
  background: #3498db;
}

.btn-clr {
  background: #838688;
}
.text-clr {
  color: #fff;
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}
/* Landing page fade in */

/* Profiles landing */
.profiles .profile-items {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}
/* end of profiles landing */

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* end of landing fade */

/* .card-bg {
  background: url("./coins.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img {
  background: url("./money.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
